---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Welcome to TIG.'>
  <main class='w-3/4 m-auto'>
    <h1 class='text-3xl font-bold text-center'>
      Welcome to TIG Official Website
    </h1>
  </main>
</Layout>
